@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

:root{
    --bg: rgb(245, 245, 245);
    --fg: rgb(14, 14, 14);
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0; padding: 0;
    border: 0; outline: 0;
    font-family: 'Comic Neue', cursive;
    list-style: none; text-decoration: none;
    transition: all 0.2s ease;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--fg) !important;
    padding: 1rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-container{
    max-width: 40rem;
    box-shadow: 10px 10px 46px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 46px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 46px -6px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    gap: 0.5rem;
}

select{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem;
    background-color: var(--bg);
    cursor: pointer;
}


.card-container .img-container{
    max-height: 10rem;
    margin: auto;
    border-radius: 50%;
    padding: 1rem;
    aspect-ratio: 1/1;box-shadow: 10px 10px 101px -53px rgba(0,0,0,1);
    -webkit-box-shadow: 10px 10px 101px -53px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 101px -53px rgba(0,0,0,1);
}


.card-container .content{
    max-width: 60%;
    flex: 1;
    margin: auto;
    margin-left: 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h1{
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.skills-list{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio a{
    background-color: yellow;
    color: black;
    font-weight: bolder;
    padding: 0.5rem;
    width: fit-content;
}

.portfolio .instagram{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
@media screen and (max-width: 494px) {
    .card-container {
        flex-direction: column;
        padding-top: 3rem;
    }

    .card-container .content{
        margin: auto;
        padding-top: 1.5rem;
    }

    .portfolio{
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
    }
}